@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;

}
:root {
    --bgcolor: #f3f5fc;
}
body {
    background-color: var(--bgcolor);
    font-family: 'Inter', sans-serif;
}
header {
    width: 100%;
    height: 96px;
}
#logo {
    position: relative;
    width: 32px;
    height: 48px;
    left: 16px;
    top: 24px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#text-to-encrypt {
    border-style: none;
    width: 90%;
    height: 250px;
    background-color: var(--bgcolor);
    margin-top: 56px;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    text-align: justify;
    outline: none;
}
#text-to-encrypt::placeholder {
    color: #0A3871;
}
#ad {
    color: #495057;
    font-size: 12px;
    font-weight: 400;
}
#ad i {
    color: #67808e;
}
button{
    cursor: pointer;
}
.buttons {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}
#encrypt-button {
    width: 343px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: #fff;
    font-size: 16px;
    border-style: none;
}
#decrypt-button {
    width: 343px;
    height: 67px;
    background-color: #fff;
    color: #0A3871;
    font-size: 16px;
    border-radius: 24px;
    border-style: none;
    border: 1px solid #0A3871;
}
.message-area {
    background-color: #fff;
    width: 88%;
    height: 190px;
    margin: 64px 5%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.message-area h2 {
    color: #343A40;
    width: 80%;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
.message-area p {
    color: #495057;
    width: 70%;
    text-align: center;
    font-weight: 400;
    font-size: 16px
}
.message-area img {
    display: none;
}

footer {
    color: #0A3871;
    font-weight: 400;
    font-size: 12px;
}
footer a {
    color: #757FB2;
}
@media (min-width: 760px) {
    #logo {
        margin: 40px 20px;
    }
    .message-area {
        height: 130px;
    }
    .message-area h2 {
        position: relative;
        top: 50px;
        padding-bottom: 20px;
    }
    .message-area p {
        position: relative;
    }
    .message-area img {
       display: none;
    }
    #text-to-encrypt {
        width: 80%;
        margin-top: 100px;
        height: 550px;
    }
}
@media (min-width: 1440px) {
    #text-to-encrypt {
        position: relative;
        left: -150px;
        width: 60%;
    }
    .message-area {
        position: absolute;
        top: 0px;
        right: 30px;
        width: 400px;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .message-area img {
        display: initial;
    }
    #ad {
        position: absolute;
        top: 790px;
        left: 600px;
    }
    .buttons {
        position: relative;
        top: 70px;
        right: 20px;
    }
    footer {
        position: absolute;
        bottom: 10px;
    }
    #decrypt-button {
        background-color: #D8DFE8;
    }
}